
@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
    ViewData["Title"] = "Index";
}

<div class="x_content" style="position:relative;">
    <div class="panel-body">
        <div class="row">
            <div class="col admin-icon">
                <a href="/ModulAdministrator/Fakultet/PrikaziFakultet" title="Fakultet">
                    <i class="fa fa-university fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Fakulteti
                    </span>
                </a>
            </div>
            <div class="col admin-icon">
                <a href="/ModulAdministrator/AkademskaGodina/PrikaziAkademskaGodina" title="Akademska Godina">
                    <i class="fa fa-calendar fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Akademska Godina
                    </span>
                </a>
            </div>
            <div class="col admin-icon">
                <a href="/ModulAdministrator/GodinaStudija/PrikaziGodinaStudija" title="Godina Studija">
                    <i class="fa fa-graduation-cap fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Godina Studija
                    </span>
                </a>
            </div>
            <div class="col admin-icon">
                <a href="/ModulAdministrator/Lokacija/PrikaziDrzava" title="Lokacija">
                    <i class="fa fa-location-arrow fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Lokacija
                    </span>
                </a>
            </div>
        </div>
        <div class="row">

            <div class="col admin-icon">
                <a href="/ModulAdministrator/Zaposlenik/PrikaziZaposlenika" title="Zaposlenik">
                    <i class="fa fa-user fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Zaposlenik
                    </span>
                </a>
            </div>
            <div class="col admin-icon">
                <a href="/ModulAdministrator/StrucnaSprema/PrikaziStrucnuSpremu" title="Strucna Sprema">
                    <i class="fa fa-book fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Strucna sprema
                    </span>
                </a>
            </div>
            <div class="col admin-icon">
                <a href="/ModulAdministrator/NacinPlacanja/PrikaziNacinPlacanja" title="Nacin Placanja">
                    <i class="fa fa-credit-card fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Nacin Placanja
                    </span>
                </a>
            </div>
            <div class="col admin-icon">
                <a href="/ModulAdministrator/Sprat/PrikaziSprat" title="Sprat">
                    <i class="fa fa-list-ol fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Sprat
                    </span>
                </a>
            </div>
        </div>
        <div class="row">

            <div class="col admin-icon">
                <a href="/ModulAdministrator/VrstaSobe/PrikaziVrstuSobe" title="Vrsta Sobe">
                    <i class="fa fa-angle-double-right fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Vrsta Sobe
                    </span>
                </a>
            </div>
            <div class="col admin-icon">
                <a href="/ModulAdministrator/Kategorija/PrikaziKategoriju" title="Kategorija">
                    <i class="fa fa-genderless fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Kategorija
                    </span>
                </a>
            </div>
            <div class="col admin-icon">
                <a href="/ModulAdministrator/Soba/PrikaziSobe" title="Soba">
                    <i class="fa fa-bed fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Soba
                    </span>
                </a>
            </div>
            <div class="col admin-icon">
                <a href="/ModulAdministrator/Usluga/PrikaziUslugu" title="Usluga">
                    <i class="fa fa-cart-plus fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Usluge
                    </span>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col admin-icon">
                <a href="/ModulAdministrator/Obrok/PrikaziObroke" title="Obrok">
                    <i class="fa fa-utensils fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Student obrok
                    </span>
                </a>
            </div>

            <div class="col admin-icon">
                <a href="/ModulAdministrator/VrstaObroka/PrikaziVrstuObroka" title="VrstaObroka">
                    <i class="fa fa-clock fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Vrsta obroka
                    </span>
                </a>
            </div>
            <div class="col admin-icon">
                <a href="/ModulAdministrator/Proizvod/PrikaziProizvod" title="Proizvod">
                    <i class="fa fa-fish fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Proizvod
                    </span>
                </a>
            </div>
            <div class="col admin-icon">
                <a href="/ModulAdministrator/KategorijaProizvoda/PrikaziKategorijuProizvoda" title="katPr">
                    <i class="fa fa-list-alt fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Ponuda
                    </span>
                </a>
            </div>




        </div>
    </div>
</div>



