
@model StudentskiHotel.Web.Areas.ModulAdministrator.ViewModels.DodajStrucnuSpremuVM

<Dodaj>
    <form action="/ModulAdministrator/StrucnaSprema/SnimiStrucnuSpremu" autocomplete="off" ajax-poziv="da" ajax-rezultat="ajaxdiv">
        <table>
            <tr>
                <td>Strucna sprema:</td>
                <td>@Html.TextBoxFor(x => x.Naziv, new { @class = "form-control" })</td>
            </tr>
           
             
            <tr><td><input type="submit" value="Snimi" class="btn btn-dark" /></td></tr>
            
        </table>
    </form>
