@using StudentskiHotel.Data.EntityModels;
@model StudentskiHotel.Web.Areas.ModulAdministrator.ViewModels.PrikaziStrucnuSpremuVM

<div class="form-group" id="ajaxdiv">

    <form action="/ModulAdministrator/StrucnaSprema/PrikaziStrucnuSpremu" autocomplete="off">
        <table>
            <tr>
                <th>Unesite naziv:</th>
                <td>
                    @Html.TextBoxFor(x => x.NazivStrucneSpreme, new { @class = "form-control", placeholder = "Unesite naziv..." })
                </td>
                <td>
                    <input type="submit" value="Pretraži" class="btn btn-secondary" />

                </td>
                <td>
                    <a href="/ModulAdministrator/StrucnaSprema/DodajStrucnuSpremu" ajax-poziv="da" ajax-rezultat="ajaxdiv1" class="btn btn-secondary">Nova strucna sprema</a>

                </td>
            </tr>
        </table>
    </form>

    <br />

    <div class="form-group" id="ajaxdiv1"></div>



    <table id="tabela" class="table table-hover">
        <thead>
            <tr>
                <th>Strucna sprema: </th>

            </tr>
        </thead>
        <tbody>

            @foreach (StrucnaSprema x in Model.StrucneSpreme)
            {
                <tr>
                    <td>@x.Naziv</td>


                    <td><a href="/ModulAdministrator/StrucnaSprema/UrediStrucnuSpremu?StrucnaSpremaId=@x.Id" ajax-poziv="da" ajax-rezultat="ajaxdiv1" class="btn btn-warning">Uredi</a></td>
                    <td><a href="/ModulAdministrator/StrucnaSprema/ObrisiStrucnuSpremu?StrucnaSpremaId=@x.Id" ajax-poziv="da" ajax-rezultat="ajaxdiv" class="btn btn-danger">Obrisi</a></td>
                </tr>

            }
        </tbody>
    </table>
</div>

