
@{
    ViewData["Title"] = "Index";
}


<div class="x_content" style="position:relative;">
    <div class="panel-body">
        <div class="row">
            <div class="col admin-icon">
                <a href="/ModulRestoran/Narudzba/PrikaziNarudzbu"" title="Zaposlenik">
                    <i class="fa fa-utensils fa-6x" aria-hidden="true"></i>

                    <span class="icon-text">
                        Narudžbe
                    </span>
                </a>
            </div>
            <div class="col admin-icon"></div>
            <div class="col admin-icon"></div>
            <div class="col admin-icon"></div>
        </div>      
    </div>
</div>


