@using StudentskiHotel.Data.EntityModels
@model StudentskiHotel.Web.Areas.ModulAdministrator.ViewModels.DodajProizvodVM
@{
    string poruka = (string)ViewData["poruka"];
}


<form action="/ModulAdministrator/Proizvod/SnimiProizvod" autocomplete="off" ajax-poziv="da" ajax-rezultat="ajaxdiv">
    <table>
        <tr>
            <td>Dodaj naziv: </td>
            <td>@Html.TextBoxFor(x => x.Naziv, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Dodaj cijenu: </td>
            <td>@Html.TextBoxFor(x => x.Cijena, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td>Odaberite kategoriju:</td>
            <td>@Html.DropDownListFor(x => x.KategorijaID, Model.Kategorija, new { @class = "form-control" })</td>
        </tr>
        <tr><td><input type="submit" value="Snimi" class="btn btn-dark" /></td></tr>
    </table>


</form>