@using StudentskiHotel.Data.EntityModels;
@model StudentskiHotel.Web.Areas.ModulAdministrator.ViewModels.DodajKantonVM

@{ 
   
    string poruka = (string)ViewData["poruka"];
}
<form action="/ModulAdministrator/Lokacija/SnimiKanton" autocomplete="off" ajax-poziv="da" ajax-rezultat="ajaxdiv">
    <table>
        <tr>@Html.HiddenFor(x => x.DrzavaID)</tr>
     
        <tr>
            <th>Kanton:</th>
            <td>@Html.TextBoxFor(x => x.Naziv, new { @class = "form-control" })</td>
            <td><input type="submit" value="Snimi" class="btn btn-success" /></td>
        </tr>
       
    </table>
</form>