
@model StudentskiHotel.Web.Areas.ModulAdministrator.ViewModels.DodajDrzavaVM

@{
  
    string poruka = (string)ViewData["poruka"];
}
<form action="/ModulAdministrator/Lokacija/SnimiDrzava" ajax-poziv="da" ajax-rezultat="ajaxdiv">
    <table>
        <tr>
            <td>@Html.HiddenFor(x => x.Id)</td>
        </tr>
        <tr>
            <th>Država:</th>
            <td>@Html.TextBoxFor(x => x.Naziv, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(x => x.Naziv, "", new { @class = "text-danger" })
             <span style="color:crimson">@poruka</span></td>
           
        </tr>


        <tr><td><input type="submit" value="Snimi" class="btn btn-success" /></td></tr>
    </table>
</form>

