@model StudentskiHotel.Web.Areas.ModulAdministrator.ViewModels.DodajVrstuObrokaVM
@{ 
    string poruka = (string)ViewData["poruka"];
}

<form action="/ModulAdministrator/VrstaObroka/SnimiVrstuObroka" autocomplete="off" ajax-poziv="da" ajax-rezultat="ajaxdiv">
    <table>
        <tr>
            <td>@Html.HiddenFor(x => x.Id)</td>
        </tr>
        <tr>
            <td>Vrsta obroka: </td>
            <td>@Html.TextBoxFor(x => x.Vrsta, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(x=>x.Vrsta)
            @poruka</td>
        </tr>
        <tr><td><input type="submit" name="Snimi" value="Snimi" class="btn btn-dark" /></td></tr>

    </table>


</form>