@model StudentskiHotel.Web.Areas.ModulAdministrator.ViewModels.DodajSpratVM


    <form action="/ModulAdministrator/Sprat/SnimiSprat" autocomplete="off" ajax-poziv="da" ajax-rezultat="ajaxdiv">
        <table>
            <tr>
                <td>Sprat:</td>
                <td>@Html.TextBoxFor(x=>x.BrojSprata, new { @class="form-control"})</td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Snimi" class="btn btn-dark"/>
                </td>
            </tr>
        </table>
    </form>

